html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 0.8%;
    margin: 0.8%;
    text-align: center;
    width: 100%;
    height: 8%;
}

main {
    margin: 0;
    padding: 0.5%;
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteneur {
    width: 80%;
    margin: 0 auto;
    padding: 0.5%;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    font-family: 'Lucida Console', sans-serif;
    font-size: 1.8em;
    margin: 0;
}

h2 {
    font-family: 'Lucida Console', sans-serif;
    font-size: 1.2em;
    margin: 5px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

p {
    font-family: 'Comic Sans MS', cursive;
    font-size: 0.8em;
    margin: 10px 0;
}

#image {
    width: 60%;
    height: 100%;
    background-image: url('./img/logo.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

#photo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

article {
    padding: 20px;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: #333 solid 1px;
    border-radius: 5px;  
}

address {
    font-style: normal;
    font-family: 'Comic Sans MS', cursive;
    font-size: 0.8em;
}