html{
    margin: 0;
    padding: 0;
}
body{
    margin: 5px;
    padding: 5px;
    font-family: tahoma, sans-serif;
    background-color: #d6d1d1;
    color: #000000;
    margin-bottom: 0px;
    padding-bottom: 0px;    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('image/jorge-salvador-Lq8Mfp3HoEg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    font-family : tahoma, sans-serif;
    border: 3px outset #000000;
    border-radius: 10px;
}
#lien{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 30px;
    font-family: tahoma, sans-serif;
    -webkit-text-stroke:2px #350202;
    font-weight: bold;
}
h1{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: tahoma, sans-serif;
    -webkit-text-stroke:2px #350202; 
}
#lien:hover {
    color: #fd0505;
    text-decoration: underline;
    -webkit-text-stroke:2px #ffffff;
}
#section1 { 
    border:3px outset #000000;
    background-color: #dadada;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
h2 {
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
    font-family: tahoma, sans-serif;
    text-align: center;
}
p{
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
    word-spacing : 5px;
    font-size: 15px;
    letter-spacing : 2px;
    word-wrap : break-word;
    text-align: justify;
    white-space : wrap;
    font-family: 'comic sans ms', sans-serif;
    margin: 5px;
    padding: 5px;
}
li{
    color: #444;
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing : 2px;
    word-wrap : break-word;
    text-align: justify;
    white-space : wrap;
    font-family: 'comic sans ms', sans-serif;
    margin: 5px;
    padding: 5px;
}
#section2 {
    background-color: #dadada;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 3px outset #000000;
}
footer{
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    border: 3px outset #000000;
    text-align: center;
    background-color: #dadada;
    margin-bottom: 5px
}
footer > p{
    text-align: center;
    font-weight: bold;
    color: #000000;
}
strong{
    color: #000000;        
}