html{
    margin: 0;
    padding: 0;
    border-left: 5px solid #dadada;
    border-right: 5px solid #dadada; 
}   
body {
    border-radius: 20px;
    background-image: url('image/pexels-negativespace-169573.jpg');
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #dadada;
    padding: 5px 25px 5px 25px;
    display: flex;
    justify-content: space-between;
}
nav {
    padding: 10px 0;
    text-align: center;
}
section {    
    padding: 20px;
    margin: 20px;
    background-color: #dadada; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: groove 1px #000;
}
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font: garamond, sans-serif;
}
h2 {
    color: #920a00;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-family: trebuchet ms, sans-serif;
}
h3 {
    color: #000000;
    font-size: 22px;
    font-family: 'gill sans', sans-serif;
    margin-bottom: 10px;
}
p {
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
    word-spacing : 5px;
    font-size: 15px;
    letter-spacing : 2px;
    word-wrap : break-word;
    text-align: justify;
    white-space : wrap;
    font-family: 'comic sans ms', sans-serif;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}
li {
    color: #444;
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing : 2px;
    word-wrap : break-word;
    text-align: justify;
    white-space : wrap;
    font-family: 'comic sans ms', sans-serif;
}
#lien:hover {
    color: #f88205;
    text-decoration: underline;
    -webkit-text-stroke:1px #ffffff;
}
#lien {
    color: #920a00;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
    font-family: tahoma, sans-serif;
}
#moi {
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
    text-decoration: none;
}
footer {
    background-color: #dadada;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
#titre {
    font-family: tahoma, sans-serif;
    font-size: 35px;
    color: #920a00;
    margin-bottom: 20px;
}
#menu {
    color: #920a00;
    background-color: #dadada;
}
#footer {
    font-weight: bold;
    color: #000000;
    background-color: #dadada;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family : tahoma, sans-serif;
}
strong {
    color: #151313;
    font-size: 15px;
    font-weight: bold;
}




















